<ion-view view-title="General condition">
	
	<ion-nav-bar class="bar-calm pg-theme">
	    <ion-nav-back-button>
	    </ion-nav-back-button>
	    <ion-nav-buttons side="right">
	       	<button class="button" ng-click="save()">
            	Save
        	</button>
	    </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content overflow-scroll="true">

		      <ion-list show-reorder="data.showReorder">

			        <ion-item ng-repeat="item in items" item="item">
			          {{ item.item_name }}
			          
			          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
			        </ion-item>

			  </ion-list>

  </ion-content>
</ion-view>