<ion-view view-title="Help">

  <ion-content overflow-scroll="true">
    <div>
        <div class="flat">
            <div class="content">
                <img class="login-logo" ng-src="img/logo.png" />
            </div>
        </div>

      <div class="login-main-heading">
          <h1 class="title login-heading">Inventory</h1>
          <p class="login-subheading">Property Inventory App</p>
      </div>

      <div class="login-form-padding">

        <div class="padding">
            <button class="button button-block button-balanced pg-theme ink" ng-click="login()">Login</button>
            <br/>
            <button class="button button-clear button-stable" ng-click="signUp()">Don't have an account?</button>
            <button class="button button-block button-balanced pg-theme ink" ng-click="signUp()">Sign up</button>
            <button class="button button-block button-balanced pg-theme ink " ng-click="how()">How does it work?</button>
        </div>

      </div>

       

    </div>
  </ion-content>

</ion-view>