<ion-view view-title="Room list">

	<ion-nav-bar class="bar-calm pg-theme">
	    <ion-nav-back-button>
	    </ion-nav-back-button>
	    <ion-nav-buttons side="right">
	       	<button class="button"  ui-sref="app.proplistsort({property_id: property_id })">
            	Reorder
        	</button>
        	<button class="button"  ng-click="syncProperty()">
            	sync
        	</button>
	    </ion-nav-buttons>
	</ion-nav-bar>

	<ion-floating-menu has-footer="false" button-color="#009AF2" icon="ion-plus" iconColor="#fff">
	    <ion-floating-item icon="ion-funnel" button-color="#009AF2" ui-sref="app.proplistsort({property_id: property_id })"></ion-floating-item>
	    <ion-floating-item icon="ion-android-sync" button-color="#009AF2" click="syncProperty()"></ion-floating-item>
	    <ion-floating-item icon="ion-ios-compose" button-color="#009AF2" click="openSign()"></ion-floating-item>
	</ion-floating-menu>

	<ion-content overflow-scroll="true">

	  	<ion-list >

	  		<ion-item style="padding: 0px;">
	  			<div class="breadcrumb">
					<a ng-repeat="bread in breadcums track by $index">{{bread}}</a>
				</div>
		  	</ion-item>

			<ion-item ui-sref="app.newPropertyinfo({property_id: property_id })">
		    	<p style="font-size:16px;">Property info</p>
		  	</ion-item>
		  	<ion-item ui-sref="app.generalcondition({property_id: property_id })">
		    	<p style="font-size:16px;">General Condition</p>
		  	</ion-item>

		  	<!-- <ion-item > -->
			    <!-- <p style="font-size:16px;" ng-if="item.type == 'DEFAULT'">{{item.item_name}}</p>
			  	<p style="font-size:16px;" ng-if="item.type == 'SELF'">{{item.name}}</p>  -->
			  	<!-- <p style="font-size:16px;">{{item.name}}</p>
			  	<span class="item-note"> {{item.image_count}} {{ item.image_count > 1? 'Images': 'Image' }} <i class="icon ion-ios-arrow-right"></i></span> -->

				<a class="item" ng-repeat="item in items | orderBy: 'priority' track by $index"  ng-click="openLink(item)">
			  		{{item.name}}
				    <span class="item-note"> {{item.image_count}} {{ item.image_count > 1? 'Images': 'Image' }} <i class="icon ion-ios-arrow-right"></i></span>
				</a>

				<a class="item"  ng-click="openSign()" style="background-color: #D3DCE3;">
						Customer Signature
				</a>

			 <!-- </ion-item> -->

		</ion-list>

  </ion-content>
</ion-view>
